[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
ipython = "*"
pydub = "*"
riffusion = "*"
huggingface-hub = "==0.15.1"
tokenizers = "==0.13.3"
diffusers = "==0.19.0"
transformers = "==4.30.0"
safetensors = "*"
torch = "==1.13.1"
torchvision = "==0.14.1"
torchaudio = "==0.13.1"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
